<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.dao.INannyDao">

    <insert id="insertNanny" parameterType="java.util.Map">
        insert into nanny_info
        (`nannyNo`,`nannyName`, `sex`, `birthday`, `mobile`, `tag`, `aim`, `describe`,`pinCard`, `address`, `edu`, `require`, `status`)
        VALUES
        (#{nannyNo}, #{nannyName}, #{sex}, #{birthday}, #{mobile}, #{tag}, #{aim}, #{describe}, #{pinCard}, #{address}, #{edu}, #{require}, #{status})
    </insert>

    <update id="updateNannyPassword" parameterType="java.util.Map">
        update nanny_info
        <set>
            password = #{password}
        </set>
        <where>
            1=1
            <if test="id !=null and id !='' ">
                and id = #{id}
            </if>
            <if test="nannyNo != null and nannyNo != '' ">
                and nannyNo = #{nannyNo}
            </if>
        </where>
    </update>

    <select id="selectNannyByNo" parameterType="java.util.Map" resultType="java.util.Map">
        select * from nanny_info
        <where>
            1=1 and nannyNo = #{nannyNo}
        </where>
    </select>

    <select id="selectNannyPage" parameterType="java.util.Map" resultType="java.util.Map">
        select * from nanny_info
        ORDER BY id DESC
        limit  #{offet} , #{limit}
    </select>

    <sql id="selectCondition">
        <where>
            1=1
            <if test="nannyName != null and nannyName != '' ">
                and `nannyName` = #{name}
            </if>
            <if test="pinCard != null and pinCard != '' ">
                and pinCard = #{pinCard}
            </if>
            <if test="mobile != null and mobile != '' ">
                and mobile = #{mobile}
            </if>
            <if test="nannyNo != null and nannyNo != '' ">
                and `nannyNo` = #{nannyNo}
            </if>
        </where>
    </sql>

    <select id="selectRecordHistory" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT r.*,n.nannyName from record_info r
        LEFT JOIN nanny_info n on r.nannyNo = n.nannyNo
        <where>
            r.`status` = '2'  AND n.nannyNo = #{nannyNo}
            <if test="nannyName != null and nannyName != '' ">
                nannyName = #{nannyName}
            </if>
        </where>
        ORDER BY r.createTime DESC
        limit #{offset}, #{limit}
    </select>

    <select id="selectCountRecordHistory" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) from record_info r
        LEFT JOIN nanny_info n on r.nannyNo = n.nannyNo
        <where>
            r.`status` = '2'  AND n.nannyNo = #{nannyNo}
            <if test="nannyName != null and nannyName != '' ">
                nannyName = #{nannyName}
            </if>
        </where>
    </select>

    <select id="selectDetail" parameterType="java.util.Map" resultType="java.util.Map">
        select n.nannyNo,n.nannyName,n.sex,n.birthday,n.mobile,n.tag,n.edu,n.`require`,n.`describe`,n.aim
        from nanny_info n
        <where>
            1=1 AND nannyNo = #{nannyNo}
            <if test="mobile != null and mobile != '' ">
                AND mobile = #{mobile}
            </if>
            <if test="nannyName != null and nannyName != '' ">
                and nannyName = #{nannyName}
            </if>
            <if test="status != null and status != '' ">
                AND status = #{status}
            </if>
        </where>
    </select>
    
    <select id="isNannyHasUnclosedRecord" parameterType="java.util.Map" resultType="java.util.Map">
        select * from nanny_info n
        LEFT JOIN record_info r  on r.nannyNo = n.nannyNo
        WHERE n.nannyNo = #{nannyNo} AND r.`status` = '1'
    </select>

</mapper>